h1 {
    color: blue;
    border: 1px solid red;
    padding: 10px;
    margin: 20px;
    /* width: min-content; */
    /* width: max-content; */
    width: fit-content;

    /* height: fit-content; */
    /* height:max-content; */
    /* height:min-content; */

    /* min-width: 150px; */
    /* max-width: 200px; */

    /* width: 100%; */
    width: 50%;


    /*  box modeling  */
    /* 1. margin
       2. border
       3. padding
       4. content
       
       
                A boxmodel in CSS four area, where any text, images, or other HTML elements are displayed.
        This is optionally surrounded by padding, a border, and a margin, on one or more sides.

        * In every html elements having default margin,padding ,border applyed is called box modeling.
     */
}




     